
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

@media (min-width: 1px) { 
  html {
    font-size: 70%;
  }
}
@media (min-width: 576px) {
  html {
    font-size: 80%;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 90%;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 100%;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: url(/images/background.base.png);
}

a {
  color: inherit;
  text-decoration: none;
}

